<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    <nav class="header__nav">
      {{ range .Site.Menus.main }}
      <a class="header__nav-item" href="{{ .URL | relURL }}">{{ .Name }}</a>
      {{ end }}

      {{ range .Site.Taxonomies.categories }}
      <a class="header__nav-item" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
      {{ end }}

      <a class="header__nav-item" href="https://tookapic.com/snufkin_artur" target="_blank" rel="noopener">Projekt 365 - Tookapic</a>
    </nav>
  </div>
</header>
